html {
    font-size: 16px;
    font-size: 62.5% !important;
    height: 100%;
}

body {
    width: 100%;
    margin: 0px;
    background: #222;
    position: relative;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

.clr {
    clear: both;
}

.disable-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.no-outline {
    outline: none;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

.font-style-italic {
    font-style: italic !important;
}

.font-style-normal {
    font-style: normal !important;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.valign-middle {
    vertical-align: middle !important;
}

.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

i.overlap-icon {
    margin-left: 5px;
}

i.no-m-icon {
    background-image: none !important;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.display-none {
    display: none;
}

.display-block {
    display: block !important;
}

canvas {
    -ms-touch-action: double-tap-zoom;
    touch-action: double-tap-zoom;
}

.fixIcon {
    background-image: none !important;
}

/****SQUARED PAPER****/
.squared-paper-background {
    background-color: #fff;
    background-image: linear-gradient(rgba(200,200,200,.6) 1px, transparent 1px), linear-gradient(90deg, rgba(200,200,200,.6) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px;
    line-height: 20px;
    font-size: 20px;
    padding: 20px;
}
.squared-paper-background > p{
    margin-bottom: 20px;
}

/****LINED PAPER****/
.lined-paper-background {
    background-color: #fff;
    background-image: linear-gradient(rgba(200,200,200,.6) 1px, transparent 1px);
    background-size: 25px 25px;
    background-position: -1px -1px, -1px -1px;
    line-height: 25px;
    font-size: 20px;
    padding: 25px;
}
.lined-paper-background  p{
    margin-bottom: 25px;
}

@media screen and (orientation:portrait) {
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 600px){
}

