.section-content > header > h1 {
    font-family: 'Neuton', serif;
    font-weight: 200;
    font-size: 5rem;
}

.handwrite-note {
    font-family: 'Indie Flower', cursive !important;
}

.tachuso-font {
    font-family: 'Dosis', sans-serif;
}

.section-content > article > p,
.section-content > article > ul,
.section-content > article > ol {
    font-family: 'Neuton', serif;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-content > article > ul,
.section-content > article > ol {
    margin-left: 2rem;
}

.section-content > article i.list-style {
    margin-right: 1rem;
    font-size: 1.6rem;
}

.section-content > article > p:last-child {
    margin-bottom: 0;
}


.sticky-note {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #111;
    padding: 2rem;
    width: 20rem;
    height: 20rem;
    box-shadow: 0 0 5rem 0 rgba(0,0,0,0.5), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
}

    .sticky-note.yellow {
        background: #FFDC00;
    }

    .sticky-note.blueviolet {
        background:#DDA0DD; 
        /*rgb(138,43,226)*/
    }


.highlighted-text {
    position: relative;
    z-index: 100;
    display: inline-block;
}

    .highlighted-text.yellow {
        background: rgba(255,255,0,0.5);
    }

    .highlighted-text.cyan {
        background: rgba(0,176,246,0.5);
    }

    .highlighted-text.green {
        background: rgba(0,255,0,0.5);
    }

    .highlighted-text.blue {
        background: rgba(0,0,200,0.5);
    }
/*.highlighted-text:before {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: 10;
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    .highlighted-text.yellow:before {
        background: rgba(255,255,0,0.9);
    }*/


/******WELCOME******/
#welcome-description {
    margin: 0 25% 5rem;
    padding: 5rem 3rem 2.5rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: inset 0 0 2rem 0.5rem rgba(255,255,255,0.5),0 0 3rem 0 rgba(0,0,0,0.5), 0 2rem 3rem -2rem rgba(0,0,0,0.5);
    text-align: center;
    background-color: lightyellow;
    position: relative;
    z-index: 10;
}

    #welcome-description > h1 {
        font-size: 3rem;
        line-height: 2.5rem;
        transform: rotate(-5deg);
    }

    #welcome-description > p {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 0.5rem;
    }


#welcome-description-back1, #welcome-description-back2 {
    position: absolute;
    z-index: 5;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-4deg);
    box-shadow: 0 0 5rem 0 rgba(0,0,0,0.5), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
    text-align: center;
    background-color: #E0FFFF;
}

#welcome-description-back1 {
    top: -2rem;
    left: 23%;
    right: 40%;
    height: 15rem;
}

#welcome-description-back2 {
    bottom: -3rem;
    left: 27%;
    right: 20%;
    height: 19rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(2deg);
    background-color: #FFC0CB;
}

#welcome {
    position: relative;
    margin-bottom: 20rem;
}

#welcome-coin-1 {
    position: absolute;
    z-index: 11;
    top: 2rem;
    left: 20%;
    margin-left: 1rem;
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    box-shadow: 0.3rem 0.3rem 0.5rem -0.3rem, 0rem 0rem 2rem 0rem rgba(0,0,0,0.5);
}

#welcome-coin-2 {
    position: absolute;
    z-index: 7;
    bottom: -10rem;
    right: 20%;
    box-shadow: -0.3rem -0.3rem 0.5rem -0.3rem, 0rem 0rem 2rem 0rem rgba(0,0,0,0.5);
}





/******SERVICES******/
#services {
    position: relative;
}

#services-description {
    position: relative;
    z-index: 100;
    margin: 0 20%;
    padding: 1rem 2rem 7rem;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    box-shadow: inset 0 0 2rem 0.5rem rgba(255,255,255,0.5),0 0 5rem 0 rgba(0,0,0,0.5), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
}

#servicesBarcode1 {
    position: absolute;
    top: 0;
    right: 0;
}

#servicesPhotos1 {
    position: absolute;
    top: -2rem;
    left: 2%;
    z-index: 99;
}

    #servicesPhotos1 > img {
        -moz-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
        box-shadow: -0.3rem 0.3rem 2rem 0 rgba(0,0,0,0.6);
        width: 40%;
    }

#servicesStickyNote1 {
    position: absolute;
    bottom: -21rem;
    right: 50%;
    margin-right: -10rem;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: 101;
}

#servicesPhotos2 {
    position: absolute;
    bottom: -15rem;
    right: 3%;
    text-align: right;
    z-index: 98;
}

    #servicesPhotos2 > img {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
        box-shadow: -0.3rem 0.3rem 2rem 0 rgba(0,0,0,0.6);
        width: 30%;
    }


#servicesPhotos3 {
    position: relative;
    left: 0;
    right: 0;
    padding: 0 10%;
    margin-bottom: -5%;
}

    #servicesPhotos3 > img {
        display: inline-block;
        position: relative;
        margin: 0;
        width: 19%;
        box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.7), inset 0px 0px 50px 15px rgba(255,255,255,0.5);
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }

        #servicesPhotos3 > img:first-child {
            width: 40%;
            margin-right: -6%;
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            -o-transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
        }

        #servicesPhotos3 > img:nth-child(2) {
            width: 25%;
            -moz-transform: rotate(-9deg);
            -ms-transform: rotate(-9deg);
            -o-transform: rotate(-9deg);
            -webkit-transform: rotate(-9deg);
            transform: rotate(-9deg);
        }

        #servicesPhotos3 > img:nth-child(3) {
            width: 20%;
            -moz-transform: rotate(7deg);
            -ms-transform: rotate(7deg);
            -o-transform: rotate(7deg);
            -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
        }





/******DOCS******/
#docs {
    position: relative;
}

#docs-description {
    margin: 0 20% 10rem;
    padding: 1rem 2rem 2rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: inset 0 0 2rem 0.5rem rgba(255,255,255,0.5),0 0 5rem 0 rgba(0,0,0,0.5), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
}

    #docs-description > article {
        width: 48%;
    }

#docsBarcode1 {
    position: absolute;
    top: 0;
    right: 0;
}

.cardMicroSD {
    width: 4.5rem;
}

.cardMicroSD2 {
    height: 4.5rem;
}

.cardSD {
    height: 9.5rem;
    /*32mm*/
}

#docsMicroSD1 {
    position: absolute;
    top: 6rem;
    left: 20%;
    margin-left: -3rem;
    z-index: 10;
    -moz-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
}

div#docsMicroSD2 {
    position: absolute;
    top: 22rem;
    left: 20%;
    z-index: 10;
    margin-left: -3rem;
}

#docsSD1 {
    position: absolute;
    top: 14rem;
    left: 20%;
    margin-left: -5rem;
    -moz-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

.lumia2520 {
    width: 80rem !important;
    display: block;
    max-width: none;
}

#lumia-OneDrive {
    position: absolute;
    left: 50%;
    right: 0;
    z-index: 11;
    top: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: -5.5rem 4rem 2rem -5rem rgba(0,0,0,0.5), -5.5rem -3.5rem 2rem -5rem rgba(0,0,0,0.5);
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}

    #lumia-OneDrive:hover {
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        transform: scale(1.03);
        box-shadow: -5rem 1.5rem 4rem -4rem rgba(0,0,0,0.7), -10rem 1.5rem 12rem -4rem rgba(0,0,0,0.5);
    }

    #lumia-OneDrive > img {
        position: relative;
        z-index: 2;
        border-radius: 1rem;
        background: rgba(0,0,0,0.9);
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
    }

    #lumia-OneDrive:hover > img {
        box-shadow: -5rem 1.5rem 5rem -4rem rgba(0,0,0,0.5);
    }

    #lumia-OneDrive > .OneDriveScreen {
        position: absolute;
        background: #094AB2;
        top: 6.2rem;
        /* right: 6.2rem; */
        left: 6.2rem;
        /* bottom: 6.1rem; */
        width: 67.5rem;
        height: 38.5rem;
        z-index: 3;
    }

        #lumia-OneDrive > .OneDriveScreen > .glass-glow {
            position: absolute;
            top: -3rem;
            right: 48%;
            bottom: -3rem;
            left: -3rem;
            z-index: 9;
            -moz-transform: rotate(8deg);
            -ms-transform: rotate(8deg);
            -o-transform: rotate(8deg);
            -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=1 );
        }

        #lumia-OneDrive > .OneDriveScreen > .screen-content {
            position: absolute;
            top: 20%;
            bottom: 20%;
            left: 10%;
            right: 10%;
            text-align: center;
            vertical-align: middle;
            z-index: 9;
            -moz-transition: 0.6s all;
            -o-transition: 0.6s all;
            -webkit-transition: 0.6s all;
            transition: 0.6s all;
        }

    #lumia-OneDrive:hover > .OneDriveScreen > .screen-content {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #lumia-OneDrive > .OneDriveScreen > .screen-content > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

#oneDrive-link {
    margin: 2rem 5% 2rem;
}

    #oneDrive-link > .handwrite-note {
        width: 50%;
        font-size: 2rem;
        line-height: 2rem;
    }

#oneDrive-link-mobile {
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    text-align: center;
    display: none;
}

    #oneDrive-link-mobile > .m-btn {
        box-shadow: 0 0 1rem 0;
    }

#oneDrive-qr {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    width: 50%;
}

/***** ABOUT *****/
#about {
    position: relative;
}

#about-description {
    margin: 0 15% 5%;
    padding: 2rem 2rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: inset 0 0 2rem 0.5rem rgba(255,255,255,0.5),0 0 5rem 0 rgba(0,0,0,0.5), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
}

    #about-description > header {
        margin-bottom: 2rem;
        height: 4rem;
        line-height: 4rem;
    }

        #about-description > header > h1 > span {
            font-size: 2rem;
        }

    #about-description > article > p,
    #about-description > article > ul,
    #about-description > article > ol {
        font-family: 'Indie Flower', cursive;
        font-weight: 200;
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

#aboutBarcode1 {
    position: absolute;
    top: 0;
    right: 0;
}


#contact {
    position: relative;
}

#contact-description {
    margin: 0 20% 15%;
    padding: 1rem 2rem 2rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: inset 0 0 2rem 0.5rem rgba(255,255,255,0.5),0 0 5rem 0 rgba(0,0,0,0.5), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
}

#contactBarcode1 {
    position: absolute;
    top: 0;
    right: 0;
}

#contactForm {
    position: relative;
    margin: 1rem -3rem 2rem;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    box-shadow: 0rem 0.5rem 2rem 0 rgba(0,0,0,0.7), 0 2rem 5rem -2rem rgba(0,0,0,0.5);
}

    #contactForm > p {
        font-family: 'Neuton', serif;
    }

    #contactForm > input, #contactForm > textarea {
        font-size: 2rem;
        background: transparent;
        border: none;
        line-height: 2.5rem;
        padding: 0;
        font-family: 'Indie Flower', cursive !important;
        color: #009;
        display: block;
        outline: none;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #contactForm > input {
        height: 2.5rem;
    }

        #contactForm > input:first-child {
            -moz-transform: rotate(-0.3deg) -ms-transform: rotate(-0.3deg) -o-transform: rotate(-0.3deg) -webkit-transform: rotate(-0.3deg) transform: rotate(-0.3deg);
        }

        #contactForm > input:nth-child(2) {
            -moz-transform: rotate(-0.3deg) -ms-transform: rotate(-0.3deg) -o-transform: rotate(-0.3deg) -webkit-transform: rotate(-0.3deg) transform: rotate(-0.3deg);
        }

    #contactForm > textarea {
        height: 20.6rem;
        position: relative;
        max-height: 20.6rem;
        min-height: 20.6rem;
        max-width: 100%;
        min-width: 100%;
        margin-top: 2.2rem;
        resize: none;
        background-color: rgba(0,0,255,0.2);
        padding: 0.3rem 1rem;
    }

#sendMsg {
    position: relative;
    margin-top: 2.5rem;
    font-weight: bold;
    font-size: 2rem;
    background: transparent;
    border: none;
    line-height: 2.5rem;
    padding: 0;
    font-family: 'Indie Flower', cursive !important;
    color: #009;
    display: block;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

    #sendMsg:after {
        content: '';
        position: absolute;
        top: 0.3rem;
        bottom: 0.5rem;
        right: -0.5rem;
        left: -1rem;
        background: rgba(255,255,0,0.5);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    #sendMsg:hover,
    #sendMsg:active {
        font-size: 2.3rem;
    }

    #sendMsg:before,
    #sendMsg:before {
        content: '';
        position: absolute;
        top: 0.3rem;
        bottom: -0.2rem;
        left: 0rem;
        width: 0;
        border-bottom: 0.2rem solid #009;
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
    }

    #sendMsg:hover:before,
    #sendMsg:active:before {
        content: '';
        position: absolute;
        top: 0.3rem;
        bottom: -0.2rem;
        left: 0rem;
        width: 102%;
        border-bottom: 0.2rem solid #009;
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }


#socialLinks {
    font-size: 2rem;
}

    #socialLinks > div.socialLink {
        margin-bottom: 1rem;
        position: relative;
        display: block;
    }

        #socialLinks > div.socialLink > a {
            color: #000;
            text-decoration: none;
            position: relative;
            z-index: 44;
        }

        #socialLinks > div.socialLink > .highlighted-text {
            position: absolute;
            z-index: 40;
        }

        #socialLinks > div.socialLink.mail-link > .highlighted-text {
            top: 0.3rem;
            bottom: 0.3rem;
            right: 1rem;
            left: 1rem;
            -moz-transform: rotate(-1deg);
            -ms-transform: rotate(-1deg);
            -o-transform: rotate(-1deg);
            -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
        }

        #socialLinks > div.socialLink.fb-link > .highlighted-text {
            top: 0.5rem;
            bottom: 0rem;
            right: -1rem;
            left: 0rem;
            -moz-transform: rotate(1deg);
            -ms-transform: rotate(1deg);
            -o-transform: rotate(1deg);
            -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
        }

        #socialLinks > div.socialLink.twitter-link > .highlighted-text {
            top: 0.8rem;
            bottom: -0.5rem;
            right: -0.5rem;
            left: -0.5rem;
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }


#withLoveByTachuso {
    overflow: hidden;
    margin-top: 30rem;
}

#byTachuso {
    max-width: 30rem;
    margin: 2rem auto 0;
    padding: 2rem 2rem 3rem;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    box-shadow: inset 0 0 1rem 0.5rem rgba(255,255,255,0.7),0 0 2rem 0 rgba(0,0,0,0.7), 0 2rem 5rem -1rem rgba(0,0,0,0.5);
    border-radius: 2rem 2rem 0 0;
    transform-origin: bottom right;
    box-sizing: border-box;
}

    #byTachuso > a {
        cursor: pointer;
    }

        #byTachuso > a:hover {
            text-shadow: 0 0 2rem rgba(0,0,0,0.5);
        }

        #byTachuso > a > header {
            font-size: 2.5rem;
            color: rgb(140,0,149);
            line-height: 4rem;
            height: 4rem;
            text-align: center;
        }

            #byTachuso > a > header > .handwrite-note {
                display: inline-block;
                vertical-align: middle;
                margin: 0 0.5rem;
            }

            #byTachuso > a > header > .love {
                font-size: 3rem;
                display: inline-block;
                vertical-align: middle;
            }

            #byTachuso > a > header > img {
                height: 4rem;
                display: inline-block;
                vertical-align: middle;
            }

            #byTachuso > a > header > .tachuso-font {
                display: inline-block;
                vertical-align: middle;
                margin: 0 0.5rem;
            }





@media only screen and (max-width: 1024px) {
    #welcome-description {
        margin: 0 20% 5rem;
    }

    #welcome-description-back2 {
        right: 10%;
    }

    #welcome-coin-1 {
        left: 15%;
    }

    #servicesPhotos1 {
        top: -10rem;
    }

    #servicesPhotos3 {
        left: -10%;
        min-height: 20rem;
        margin-bottom: 1rem;
    }

    #services-description {
        margin: 0 5%;
    }

    #servicesBarcode1 {
        display: none;
    }

    #docs-description {
        margin: 0 10% 10rem;
    }

    #docsMicroSD1 {
        left: 10%;
    }

    div#docsMicroSD2 {
        left: 10%;
    }

    #docsSD1 {
        left: initial;
        right: 3%;
        -moz-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
        -o-transform: rotate(11deg);
        -webkit-transform: rotate(11deg);
        transform: rotate(11deg);
    }

    #lumia-OneDrive {
        display: none;
    }

    #docsBarcode1 {
        display: none;
    }

    #docs-description > article {
        width: 100%;
    }

    #oneDrive-link {
        display: none;
    }

    #oneDrive-link-mobile {
        display: block;
    }

    #about-description {
        margin: 0 2% 5%;
    }

    #aboutBarcode1 {
        display: none;
    }

    #contact-description {
        margin: 0 10% 15%;
    }

    #contactForm {
        margin: 2rem -12% 3rem;
    }
}

@media only screen and (max-width: 768px) {
    #welcome-description {
        margin: 10rem 10% 5rem;
    }

    #welcome-description-back2 {
        right: 2%;
    }

    #welcome-coin-1 {
        left: 5%;
    }
}

@media only screen and (max-width: 480px) {
    #siteHeader {
        left: 0 !important;
        top: -17rem !important;
    }

    header#siteHeader.scrolled-top {
        top: -17rem !important;
    }

    #mainNav {
        left: 17rem !important;
    }

    section#mainContent {
        padding-top: 7rem;
    }

    #welcome-description {
        margin: 10rem 1% 5rem;
    }

    #welcome-coin-1 {
        left: 0%;
        top: -4rem;
    }

    #welcome-coin-2 {
        right: 0;
        bottom: -5rem;
    }

    #welcome-description-back1, #welcome-description-back2 {
        display: none;
    }

    #servicesPhotos1 {
    }

        #servicesPhotos1 > img {
            width: 100%;
        }

    #services-description {
        margin: 0;
        -moz-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        transform: rotate(0deg);
    }

    .section-content > header > h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .section-content > article > p, .section-content > article > ul, .section-content > article > ol {
        font-size: 1.6rem;
        hyphens: auto;
    }

    #docs-description {
        margin: 0 1% 10rem;
    }

    #docsMicroSD1 {
        top: 0;
        right: 0;
        left: inherit;
    }

    #docsMicroSD2 {
        bottom: -3rem;
        top: inherit !important;
        right: inherit !important;
        left: 2rem !important;
        margin: 0 !important;
    }

    #docsSD1 {
        z-index: 10;
        bottom: -4rem;
        top: inherit;
        right: -2rem;
    }

    #about-description {
        margin: 0 0 5%;
        transform: rotate(0deg);
    }

        #about-description > header {
            height: auto;
        }

            #about-description > header > h1 {
                font-size: 2.5rem;
                line-height: 2rem;
            }

    #contact-description {
        margin: 0 1rem 15%;
    }

    #contactForm {
        margin: 2rem -3rem 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #socialLinks > div.socialLink > a {
        font-size: 1.4rem;
    }

    #withLoveByTachuso {
        margin-top: 15rem;
    }

    #byTachuso {
        max-width: 28rem;
    }

        #byTachuso > a > header {
            font-size: 2rem;
        }

            #byTachuso > a > header > .love {
                font-size: 2rem;
            }

            #byTachuso > a > header > img {
                height: 3rem;
            }
}
